/firmware/VI_meter.X/build/default/debug/*.p1
/firmware/VI_meter.X/build/default/debug/*.d
/firmware/VI_meter.X/build/default/debug/*.pre
/firmware/VI_meter.X/build/default/production/*.p1
/firmware/VI_meter.X/build/default/production/*.d
/firmware/VI_meter.X/build/default/production/*.pre
/firmware/VI_meter.X/dist/default/debug/*.cmf
/firmware/VI_meter.X/dist/default/debug/*.elf
/firmware/VI_meter.X/dist/default/debug/*.hxl
/firmware/VI_meter.X/dist/default/debug/*.lst
/firmware/VI_meter.X/dist/default/debug/*.map
/firmware/VI_meter.X/dist/default/debug/*.mum
/firmware/VI_meter.X/dist/default/debug/*.obj
/firmware/VI_meter.X/dist/default/debug/*.rlf
/firmware/VI_meter.X/dist/default/debug/*.sdb
/firmware/VI_meter.X/dist/default/debug/*.sym
/firmware/VI_meter.X/dist/default/debug/*.xml
/firmware/VI_meter.X/dist/default/production/*.cmf
/firmware/VI_meter.X/dist/default/production/*.elf
/firmware/VI_meter.X/dist/default/production/*.hex
/firmware/VI_meter.X/dist/default/production/*.hxl
/firmware/VI_meter.X/dist/default/production/*.lst
/firmware/VI_meter.X/dist/default/production/*.map
/firmware/VI_meter.X/dist/default/production/*.mum
/firmware/VI_meter.X/dist/default/production/*.obj
/firmware/VI_meter.X/dist/default/production/*.rlf
/firmware/VI_meter.X/dist/default/production/*.sdb
/firmware/VI_meter.X/dist/default/production/*.sym
/firmware/VI_meter.X/dist/default/production/*.xml
/firmware/VI_meter.X/nbproject/*.mk
/firmware/VI_meter.X/nbproject/*.properties
/firmware/VI_meter.X/nbproject/*.bash
/firmware/VI_meter.X/nbproject/*.xml
/firmware/VI_meter.X/nbproject/private/*.properties
/firmware/VI_meter.X/nbproject/private/*.xml
/firmware/VI_meter.X/Makefile
